.App {
  text-align: center;
}

.score{
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.question-card {
  margin: 10%;
  width: 80%; 
  height: auto;
  background-color: #70bdf2;
  padding: 25px;
  color: white;
  border-radius: 20px;
}

.question-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
li {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
li:hover {
  color: White;
  cursor: pointer;
}



.final-results {
  color: black;
}

button {
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 16px;
  margin: 16px;
  cursor: pointer;
}
button:hover{
  color: #70bdf2;
}


/* input{
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 16px;
  margin: 16px;
  cursor: pointer;
} */
.button {
  
}
.button:hover,
.button:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}
.button:active {
  background: var(--c);
  color: blue;
}

.button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  margin: .1em;
}
