.Title{
  color: black;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}
.Textpresentation {
  color: black;
  text-align: center;
  font-size: 20px;
}
.Theme{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.Option{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  margin-left: 1%;
  background-color: black;
  color: white;
  height: 50px;
  width: 300px;
  padding: 10px;
}