.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  margin: 0;
  height: 30em;
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to right bottom, #ffb88e, #ea5753); 

}

.App-link { 
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
