.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  margin: 0;
  height: 30em;
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  background: linear-gradient(to right bottom, #ffb88e, #ea5753); 

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ol {
  margin: 0;
  gap: 1rem;
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column;
  counter-reset: my-counter;
}
li {
  width: 40rem;
  text-align: center;
  color: #fff;
  border-radius: 3rem;
  background: linear-gradient(
    to right bottom,
    rgb(255, 184, 142, 0.44),
    rgba(255, 255, 255, 0.5)
  );
  counter-increment: my-counter;
  padding: 1.1rem 1.5rem 1.1rem 1.5rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}



